<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Herbs"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".recipe.DetailRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".recipe.AddRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".recipe.SearchRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".spice.SearchSpiceActivity"
            android:exported="false" />
        <activity
            android:name=".auth.NewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".auth.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".auth.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".ml.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".ml.ClassifyActivity"
            android:exported="false" />
        <activity
            android:name=".spice.DetailSpiceActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".main.EntryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>